<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETS & Sabira</title>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!--font awsome  -->
    <script src="https://kit.fontawesome.com/92903bf60a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="Style-home.css">
    





    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/assets/owl.carousel.min.css">

    <link rel="stylesheet" href="https://themes.audemedia.com/html/goodgrowth/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="Style-home2.css">


    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>

<body>
    <!-- title -->
    <section class="title">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <a class="navbar-brand" href="#">
                <img src="pics/pet-shop-logo-template-260nw-1053368123.jpg" height="42" width="42" style="display: inline-block;">Pets & Sabira</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pet List & Price</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pet Info.</a>
                    </li>
                    <li class="nav-item">
                     <% if(loged == 0){ %>
                        <a class="nav-link" href="/login">Log In</a>
                        <% } else { %>

                        <a class="nav-link" href="#"><%= username %></a>

                        <%  } %>
                    </li>
                    
                </ul>
                <span class="navbar-text">
      Open for all Pet Lovers
    </span>
            </div>
        </nav>

        <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:100px;" id="mySidebar"><br>
            <div class="w3-container">
              <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
                <i class="fa fa-remove"></i>
              </a>
              <img src="pics/pet-shop-logo-template-260nw-1053368123.jpg" style="width:45%;" class="w3-round"><br><br>
              <h4><b>Pets & Sabira</b></h4>
              
            </div>
            <div class="w3-bar-block">
              <a href="" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"></a> 

            </div>
            
          </nav>
          <!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>


<div class="row no-gutters">
    <div class="col row no-gutters">
        <div class="home">

            <span><h1><div id="text"></div></h1></span>

            <h6 class="home-h6">This is one of the biggest Pet shop in Bangladesh</p>


                <br>
                <div id="showme">
                    <h4>Which Pet do you like most?</h4>
                </div>


        </div>
    </div>
    <div class="col row no-gutters">
        <div class="home2">

        </div>
    </div>

</div>

    </section>

    <section class="team">
        <div class="members">
            <h1>Shop Pets from us</h1><br><br>
        </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="image">
          <a href=""><img class="member-img" src="Pics/Home4.jpg" alt=""></a>
          <div class="overlay">
            <div class="text"></div>
            <p class="job"></p>
          </div>
        </div>
      </div>
        <div class="col-lg-3">
          <div class="image">
            <a href=""><img class="member-img" src="Pics/Home2.jpg" alt=""></a>
            <div class="overlay">
              <div class="text"></div>
              <p class="job"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="image">
            <a href=""><img class="member-img" src="Pics/Home3.jpg" alt=""></a>
            <div class="overlay">
              <div class="text"></div>
              <p class="job"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
            <div class="image">
              <a href=""><img class="member-img" src="Pics/Home5-1.png" alt=""></a>
              <div class="overlay">
                <div class="text"></div>
                <p class="job"></p>
              </div>
            </div>
          </div>
    
        </div>
      </div>
    </div>
        
        
    </section>



    <section id="Our_Events">

        <div class="events">
            <br><br>
            <h1 style="text-align: center; color: rgb(255, 255, 255);">Luxurious new collections</h1>
            <section class="testimonials">
                <div class="container">
                    <br><br>
                    <div class="col-sm-12">
                        <div id="customers-testimonials" class="owl-carousel">
                            <div class="item">
                                <div class="shadow-effect1">

                                </div>
                                <br>
                                <h1 style="color: rgb(255, 255, 255);">Sir Lancelot Encore</h1>

                            </div>

                            <div class="item">
                                <div class="shadow-effect2">

                                </div>
                                <br>
                                <h1 style="color: rgb(255, 255, 255);">White Lion Cubs</h1>
                            </div>
                            <div class="item">
                                <div class="shadow-effect3">

                                </div>
                                <br>
                                <h1 style="color: rgb(255, 255, 255);">Red Pure Bred Tibetan Mastiff</h1>
                            </div>
                            <div class="item">
                                <div class="shadow-effect4">

                                </div>
                                <br>
                                <h1 style="color: rgb(255, 255, 255);">Cockatiel</h1>
                            </div>
                            <div class="item">
                                <div class="shadow-effect5">

                                </div>
                                <br>
                                <h1 style="color: rgb(255, 255, 255);">Red-Aroana</h1>
                            </div>
                        </div>







                    </div>
                </div>
        </div>

        </div>















        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/owl.carousel.min.js"></script>
        <script>
            jQuery(document).ready(function($) {
                "use strict";
                //  TESTIMONIALS CAROUSEL HOOK
                $('#customers-testimonials').owlCarousel({
                    loop: true,
                    center: true,
                    items: 3,
                    margin: 0,
                    autoplay: true,
                    dots: true,
                    autoplayTimeout: 2500,
                    smartSpeed: 450,
                    responsive: {
                        0: {
                            items: 1
                        },
                        768: {
                            items: 2
                        },
                        1170: {
                            items: 3
                        }
                    }
                });
            });
            var string = "Welcome to Pets & Sabira";
            var array = string.split("");
            var timer;

            function frameLooper() {
                if (array.length > 0) {
                    document.getElementById("text").innerHTML += array.shift();
                } else {
                    clearTimeout(timer);
                }
                loopTimer = setTimeout('frameLooper()', 70); /* change 70 for speed */

            }
            frameLooper();
        </script>
        </section>

        <div class="Log-in">
            
            <div class="row no-gutters">
                
                <div class="col row no-gutters">
                    <div class="Opening1">

                    </div>
                </div>

                <div class="col row no-gutters">
                    
                    <div class="Opening">
                        <h1 style="color: coral;">40% Discount</h1><h1>on bold size Australian bulldog</h1> 
                        <h3>Visit our shop to see amazing creations from our collections</h3><br><br>
                        <input type="submit" name="login-btn" value="Shop Now">

                    </div>
                         
                    </div>

           </div>

        </div>

        

        <section id="all_dept">
            <div class="members">
                <h1>All Pet List</h1>
            </div>

            <br><a href=""><button type="button" class="btn btn-secondary" style="background-color: rgb(255, 255, 255);color:black;">Pigeon</button></a>
            <a href=""><button type="button" class="btn btn-secondary" style="background-color: rgb(255, 255, 255); color: black;">Parrot</button></a>
            <a href=""><button type="button" class="btn btn-secondary" style="background-color: rgb(255, 255, 255); color: black;">Kingfisher</button></a>
            <a href=""><button type="button" class="btn btn-secondary" style="background-color: rgb(255, 255, 255); color: black;">Kiwi</button></a>

            <br><br><a href=""><button type="button" class="btn btn-secondary" style="background-color: rgb(255, 255, 255); color: black;">Dog</button></a>
            <a href=""><button type="button" class="btn btn-secondary" style="background-color: rgb(255, 255, 255); color: black;">Cat</button></a>
            <a href=""><button type="button" class="btn btn-secondary" style="background-color: rgb(255, 255, 255); color: black;">Tiger</button></a>
            <a href=""><button type="button" class="btn btn-secondary" style="background-color: rgb(255, 255, 255); color: black;">Lion</button></a>
            <a href=""><button type="button" class="btn btn-secondary" style="background-color: rgb(255, 255, 255); color: black;">Chitta</button></a>
            <a href=""><button type="button" class="btn btn-secondary" style="background-color: rgb(255, 255, 255); color: black;">Jaguar</button></a>

            <br><br><a href=""><button type="button" class="btn btn-secondary" style="background-color: rgb(255, 255, 255); color: black;">Betta Fish</button></a>
            <a href=""><button type="button" class="btn btn-secondary" style="background-color: rgb(255, 255, 255); color: black;">Oscar</button></a>
            <a href=""><button type="button" class="btn btn-secondary" style="background-color: rgb(255, 255, 255); color: black;">Neon</button></a>
            <a href=""><button type="button" class="btn btn-secondary" style="background-color: rgb(255, 255, 255); color: black;">Tetra</button></a>
        </section>


<section class="team">
        <div class="members">
            <h1>Love From Customer</h1><br><br>
        </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="image2">
          
          <p style="padding-top: 50px;">Great Shop<br>If you want a cute pet<br> you should try their collections</p>
          <p>-<a href="https://www.facebook.com/turjo.ghoshal">Turjo</a></p>
          <div class="overlay">
            <div class="text"></div>
            
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="image2">
          
          <p style="padding-top: 50px;">Great Shop<br>If you want a cute pet<br> you should try their collections</p>
          <p>-<a href="https://www.facebook.com/turjo.ghoshal">Turjo</a></p>
          <div class="overlay">
            <div class="text"></div>
            
          </div>
        </div>
      </div>    
      <div class="col-lg-4">
        <div class="image2">
          
          <p style="padding-top: 50px;">Great Shop<br>If you want a cute pet<br> you should try their collections</p>
          <p>-<a href="https://www.facebook.com/turjo.ghoshal">Turjo</a></p>
          <div class="overlay">
            <div class="text"></div>
            
          </div>
        </div>
      </div>  
        </div>

        
        
    </section>



        <div class="footer" id="contact_us">
            <h1>Stay connected!</h1>
            
            <div class="socials">
                <span><a href=""><span class=""><button class="btn btn-outline-secondary"><em>Facebook Group</em></button></span></a>
                </span>
                
                
            </div>

        </div>
    </section>

</body>

</html>